[{*Andre Debug*}]
[{if $oxcmp_user->oxuser__oxrights->value == "malladmin"}]
	<strong>Debug einstellungen:</strong>
	[{if $oViewConf->getViewThemeParam('showNavSort') == 1}]
		<p>zeige NavBar Sortierung</p>
	[{/if}]
	[{*$oxcmp_user|var_dump*}]
	[{*include file="layout/debug.tpl"*}]

[{/if}]
[{*$oViewConf->getSslSelfLink()*}]