[{oxscript include="js/pages/details.min.js" priority=10}]
[{assign var="oConfig" value=$oViewConf->getConfig()}]
[{assign var="oManufacturer" value=$oView->getManufacturer()}]
[{assign var="aVariantSelections" value=$oView->getVariantSelections()}]
[{assign var="myVariantSelections" value=$oView->getVariantSelections()}]


[{*$aVariantSelections|var_dump*}]

[{if $aVariantSelections && $aVariantSelections.rawselections}]
    [{assign var="_sSelectionHashCollection" value=""}]
	[{assign var="mySelectionList" value=""}]
    [{foreach from=$aVariantSelections.rawselections item=oSelectionList key=iKey}]
        [{assign var="_sSelectionHash" value=""}]
		[{assign var="mySelectionList" value=$mySelectionList|cat:$oSelectionList[2].hash|cat:":"|cat:$iKey|cat:"|"}]
		[{assign var="my_sSelection" value=$oSelectionList[2].hash}]
        [{foreach from=$oSelectionList item=oListItem key=iPos}]
            [{assign var="_sSelectionHash" value=$_sSelectionHash|cat:$iPos|cat:":"|cat:$oListItem.hash|cat:"|"}]


			[{*$_sSelectionHash|var_dump*}]
        [{/foreach}]
        [{if $_sSelectionHash}]
            [{if $_sSelectionHashCollection}][{assign var="_sSelectionHashCollection" value=$_sSelectionHashCollection|cat:","}][{/if}]
            [{assign var="_sSelectionHashCollection" value=$_sSelectionHashCollection|cat:"'`$_sSelectionHash`'"}]
        [{/if}]
    [{/foreach}]
    [{oxscript add="oxVariantSelections  = [`$_sSelectionHashCollection`];"}]
	[{*$aVariantSelections|var_dump*}]
    <form class="js-oxWidgetReload" action="[{$oView->getWidgetLink()}]" method="get">
        [{$oViewConf->getHiddenSid()}]
        [{$oViewConf->getNavFormParams()}]
        <input type="hidden" name="cl" value="[{$oView->getClassName()}]">
        <input type="hidden" name="oxwparent" value="[{$oViewConf->getTopActiveClassName()}]">
        <input type="hidden" name="listtype" value="[{$oView->getListType()}]">
        <input type="hidden" name="nocookie" value="1">
        <input type="hidden" name="cnid" value="[{$oView->getCategoryId()}]">
        <input type="hidden" name="anid" value="[{if !$oDetailsProduct->oxarticles__oxparentid->value}][{$oDetailsProduct->oxarticles__oxid->value}][{else}][{$oDetailsProduct->oxarticles__oxparentid->value}][{/if}]">
        <input type="hidden" name="actcontrol" value="[{$oViewConf->getTopActiveClassName()}]">
        [{* check: *}]
        [{if $oConfig->getRequestParameter('preview')}]
            <input type="hidden" name="preview" value="[{$oConfig->getRequestParameter('preview')}]">
        [{/if}]
    </form>
[{/if}]

[{oxhasrights ident="TOBASKET"}]
    <form class="js-oxProductForm" action="[{$oViewConf->getSelfActionLink()}]" method="post">
        <div class="hidden">
            [{$oViewConf->getHiddenSid()}]
            [{$oViewConf->getNavFormParams()}]
            <input type="hidden" name="cl" value="[{$oViewConf->getTopActiveClassName()}]">
            <input type="hidden" name="aid" value="[{$oDetailsProduct->oxarticles__oxid->value}]">
            <input type="hidden" name="anid" value="[{$oDetailsProduct->oxarticles__oxnid->value}]">
            <input type="hidden" name="parentid" value="[{if !$oDetailsProduct->oxarticles__oxparentid->value}][{$oDetailsProduct->oxarticles__oxid->value}][{else}][{$oDetailsProduct->oxarticles__oxparentid->value}][{/if}]">
            <input type="hidden" name="panid" value="">
            [{if !$oDetailsProduct->isNotBuyable()}]
                <input type="hidden" name="fnc" value="tobasket">
            [{/if}]
            <input type="hidden" name="nocache" value="true">
        </div>
[{/oxhasrights}]

<div class="detailsInfo clear" itemscope itemtype="http://schema.org/Product">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 details-col-left">
            [{* article picture with zoom *}]
            [{block name="details_productmain_zoom"}]
                [{oxscript include="js/libs/photoswipe.min.js" priority=8}]
                [{oxscript include="js/libs/photoswipe-ui-default.min.js" priority=8}]
                [{oxscript add="\$( document ).ready( function() { Flow.initDetailsEvents(); });"}]

                [{* Wird ausgeführt, wenn es sich um einen AJAX-Request handelt *}]
                [{if $blWorkaroundInclude}]
                    [{oxscript add="$( document ).ready( function() { Flow.initEvents();});"}]
                [{/if}]

                [{if $oView->showZoomPics()}]
                    [{* ToDo: This logical part should be ported into a core function. *}]
                    [{if $oConfig->getConfigParam('sAltImageUrl') || $oConfig->getConfigParam('sSSLAltImageUrl')}]
                        [{assign var="aPictureInfo" value=$oPictureProduct->getMasterZoomPictureUrl(1)|@getimagesize}]
                    [{else}]
                        [{assign var="sPictureName" value=$oPictureProduct->oxarticles__oxpic1->value}]
                        [{assign var="aPictureInfo" value=$oConfig->getMasterPicturePath("product/1/`$sPictureName`")|@getimagesize}]
                    [{/if}]
                    [{*$oManufacturer|var_dump*}]
                    [{if $oManufacturer}]
                        <div class="brandLogo pull-right">
                            [{block name="details_productmain_manufacturersicon"}]
                                <a href="[{$oManufacturer->getLink()}]"
                                   title="[{$oManufacturer->oxmanufacturers__oxtitle->value}]">
                                    [{if $oManufacturer->oxmanufacturers__oxicon->value}]
                                        <img src="[{$oManufacturer->getIconUrl()}]"
                                             alt="[{$oManufacturer->oxmanufacturers__oxtitle->value}]">
                                    [{/if}]
                                </a>
                                <span itemprop="brand"
                                      class="hidden">[{$oManufacturer->oxmanufacturers__oxtitle->value}]</span>
                            [{/block}]
                        </div>
                    [{/if}]
                    <div class="picture text-center">

                        <a href="[{$oPictureProduct->getMasterZoomPictureUrl(1)}]" id="zoom1"[{if $aPictureInfo}] data-width="[{$aPictureInfo.0}]" data-height="[{$aPictureInfo.1}]"[{/if}]>
                            <img style="width: 100%" id="zoomPic1" data-zoom-image="[{$oPictureProduct->getMasterZoomPictureUrl(1)}]" src="[{*$oPictureProduct->getMasterZoomPictureUrl(1)*}][{$oView->getActPicture()}]" alt="[{$oPictureProduct->oxarticles__oxtitle->value|strip_tags}] [{$oPictureProduct->oxarticles__oxvarselect->value|strip_tags}]" title="[{$oPictureProduct->oxarticles__oxtitle->value|strip_tags}] [{$oPictureProduct->oxarticles__oxvarselect->value|strip_tags}]" itemprop="image" class="img-responsive" width="744" height="744">
                        </a>
                    </div>
                    [{*include file="widget/product/variantfarbliste.tpl" product=$oPictureProduct*}]
                [{else}]
                    <div class="picture  text-center">
                        <img id="zoomPic1" data-zoom-image="[{$oPictureProduct->getMasterZoomPictureUrl(1)}]" src="[{$oView->getActPicture()}]" alt="[{$oPictureProduct->oxarticles__oxtitle->value|strip_tags}] [{$oPictureProduct->oxarticles__oxvarselect->value|strip_tags}]" title="[{$oPictureProduct->oxarticles__oxtitle->value|strip_tags}] [{$oPictureProduct->oxarticles__oxvarselect->value|strip_tags}]" itemprop="image" class="img-responsive" width="744" height="744">
                    </div>
                    [{*include file="widget/product/variantfarbliste.tpl" product=$oPictureProduct*}]
                [{/if}]
            [{/block}]

            [{block name="details_productmain_morepics"}]
                [{include file="page/details/inc/morepics.tpl"}]
            [{/block}]
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 details-col-middle">

            [{*  Ribbon ähnlich Listenansicht *}]
            [{assign var="oParent" value=$oDetailsProduct->getParentArticle()}]
            [{if $oParent->oxarticles__flagangebotfahne->value == 1}]
                <div class="detail-ribbon pull-right">
                    <a title="[{$oParent->oxarticles__oxtitle->value}] [{$oParent->oxarticles__oxvarselect->value}]"><span>[{$oParent->oxarticles__angebotfahnetext->value}]</span></a>
                </div>
            [{else}]
                [{if $oDetailsProduct->oxarticles__flagangebotfahne->value == 1}]
                    <div class="detail-ribbon pull-right">
                        <a title="[{$oDetailsProduct->oxarticles__oxtitle->value}] [{$oDetailsProduct->oxarticles__oxvarselect->value}]"><span>[{$oDetailsProduct->oxarticles__angebotfahnetext->value}]</span></a>
                    </div>
                [{/if}]
            [{/if}]
            [{* /Ribbon *}]

            [{block name="details_productmain_title"}]
                <h1 id="productTitle" itemprop="name">
                    [{if $oDetailsProduct->oxarticles__dre_seoh->value != ''}]
                        [{$oDetailsProduct->oxarticles__dre_seoh->value}] [{$oDetailsProduct->oxarticles__oxvarselect->value}]
                    [{else}]
                        [{$oDetailsProduct->oxarticles__oxtitle->value}] [{$oDetailsProduct->oxarticles__oxvarselect->value}]
                    [{/if}]
                </h1>
            [{/block}]


            [{* article number *}]
            [{*block name="details_productmain_artnumber"}]
                <span class="small text-muted">[{oxmultilang ident="ARTNUM" suffix="COLON"}] [{$oDetailsProduct->oxarticles__oxartnum->value}]</span>
            [{/block*}]

            [{* ratings }]
            <div class="star-ratings">
                [{if $oView->ratingIsActive()}]
                    [{block name="details_productmain_ratings"}]
                        [{include file="widget/reviews/rating.tpl" itemid="anid=`$oDetailsProduct->oxarticles__oxnid->value`" sRateUrl=$oDetailsProduct->getLink()}]
                    [{/block}]
                [{/if}]
            </div>

            [{*}]

            [{* short description *}]
            [{block name="details_productmain_shortdesc"}]
                [{oxhasrights ident="SHOWSHORTDESCRIPTION"}]
                    [{if $oDetailsProduct->oxarticles__oxshortdesc->rawValue}]
                        <p class="shortdesc" id="productShortdesc" itemprop="description">[{$oDetailsProduct->oxarticles__oxshortdesc->rawValue}]</p>
                    [{/if}]
                [{/oxhasrights}]
            [{/block}]

            [{* rdfa *}]
            <div class="hidden">
                <span itemprop="aggregateRating"></span>
                <span itemprop="review"></span>
                <span itemprop="sku">[{$oDetailsProduct->oxarticles__oxartnum->value}]</span>
            </div>

            [{* article main info block *}]
            <div class="information" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                [{* rdfa *}]
                [{*$oView->getRDFaValidityPeriod()|var_dump*}]
                <div class="hidden">


                    <span itemprop="availability">InStock</span>
                    <span itemprop="url">[{$oDetailsProduct->getBaseSeoLink($oViewConf->getActLanguageId())}]</span>
                    <span itemprop="priceValitUntil"></span>
                    <span itemprop="price"></span>
                </div>

                <div class="productMainInfo[{if $oManufacturer->oxmanufacturers__oxicon->value}] hasBrand[{/if}]">

                    [{* additional info *}]
                    <div class="additionalInfo clearfix">
                        [{assign var="oUnitPrice" value=$oDetailsProduct->getUnitPrice()}]
                        [{block name="details_productmain_priceperunit"}]
                            [{if $oUnitPrice}]
                                <span id="productPriceUnit">[{oxprice price=$oUnitPrice currency=$currency}]/[{$oDetailsProduct->getUnitName()}]</span>
                            [{/if}]
                        [{/block}]
                    </div>

                    [{*if $oDetailsProduct->oxarticles__oxweight->value}]
                        <div class="weight">
                            [{block name="details_productmain_weight"}]
                                [{oxmultilang ident="WEIGHT" suffix="COLON"}] [{$oDetailsProduct->oxarticles__oxweight->value}] [{oxmultilang ident="KG"}]
                            [{/block}]
                        </div>
                    [{/if*}]

                    [{block name="details_productmain_vpe"}]
                        [{if $oDetailsProduct->oxarticles__oxvpe->value > 1}]
                            <span class="vpe small">[{oxmultilang ident="DETAILS_VPE_MESSAGE_1"}] [{$oDetailsProduct->oxarticles__oxvpe->value}] [{oxmultilang ident="DETAILS_VPE_MESSAGE_2"}]</span>
                            <br>
                        [{/if}]
                    [{/block}]

                    [{assign var="blCanBuy" value=true}]
                    [{* variants | md variants *}]

                    [{if $oDetailsProduct->hasMdVariants()}]
                        [{*$oDetailsProduct->hasMdVariants()|var_dump*}]
                        [{assign var="showTable" value=false}]
                    [{/if}]


                    [{block name="details_productmain_variantselections"}]
                        [{if $aVariantSelections && $aVariantSelections.selections}]
                            [{if $aVariantSelections.selections|@count eq '1'}]
                                [{assign var="showTable" value=true}]
                            [{/if}]

                            [{oxscript include="js/widgets/oxajax.min.js" priority=10 }]
                            [{oxscript include="js/widgets/oxarticlevariant.min.js" priority=10 }]
                            [{oxscript add="$( '#variants' ).oxArticleVariant();"}]
                            [{assign var="blCanBuy" value=$aVariantSelections.blPerfectFit}]
                            [{if !$blHasActiveSelections}]
                                [{if !$blCanBuy && !$oDetailsProduct->isParentNotBuyable()}]
                                    [{assign var="blCanBuy" value=true}]
                                [{/if}]
                            [{/if}]
                            <div id="variants" class="selectorsBox js-fnSubmit clear">
                                [{assign var="blHasActiveSelections" value=false}]
                                [{foreach from=$aVariantSelections.selections item=oList key=iKey}]
                                    [{if $oList->getActiveSelection()}]
                                        [{assign var="blHasActiveSelections" value=true}]
                                    [{/if}]
                                    [{include file="widget/product/selectbox.tpl" oSelectionList=$oList iKey=$iKey blInDetails=true showTable=$showTable}]
                                    <div class="clearfix"></div>
                                [{/foreach}]
                            </div>
                        [{/if}]
                    [{/block}]
                </div>

                [{* selection lists *}]
                [{block name="details_productmain_selectlists"}]
                    [{if $oViewConf->showSelectLists()}]
                        [{assign var="oSelections" value=$oDetailsProduct->getSelections()}]
                        [{if $oSelections}]
                            <div class="selectorsBox js-fnSubmit clear" id="productSelections">
                                <div class="clearfix"></div>
                                [{assign var="i" value=1}]
                                [{foreach from=$oSelections item=oList name=selections}]
                                    <div class="col-xs-12 col-md-12 col-lg-6" style="[{if $i%2 == 1}]margin-bottom: 20px;[{else}]margin-bottom: 22px;[{/if}]padding-left:0;">
                                        [{include file="widget/product/selectbox.tpl" oSelectionList=$oList sFieldName="sel" iKey=$smarty.foreach.selections.index blHideDefault=true sSelType="seldrop" showTable=$showTable}]                                    </div>
                                    [{assign var="i" value=$i+1}]
                                [{/foreach}]
                            </div>
                        [{/if}]
                    [{/if}]
                [{/block}]


                <div class="row">
                    <div class="col-xs-12">
                        <div class="pricebox">
                            [{block name="details_productmain_tprice"}]
                                [{oxhasrights ident="SHOWARTICLEPRICE"}]
                                [{assign var=tprice value=$oDetailsProduct->getTPrice()}]
                                [{assign var=price  value=$oDetailsProduct->getPrice()}]
                                [{if $tprice && $tprice->getBruttoPrice() > $price->getBruttoPrice()}]
                                    <del>[{$oDetailsProduct->getFTPrice()}] [{$currency->sign}]</del>
                                    <br/>
                                [{/if}]
                                [{/oxhasrights}]
                            [{/block}]

                            [{block name="details_productmain_watchlist"}][{/block}]

                            [{block name="details_productmain_price"}]
                                [{oxhasrights ident="SHOWARTICLEPRICE"}]
                                [{block name="details_productmain_price_value"}]
                                    [{if $oDetailsProduct->getFPrice()}]
                                        <label id="productPrice" class="price">
                                            [{assign var="sFrom" value=""}]
                                            [{assign var="fPrice" value=$oDetailsProduct->getFPrice()}]
                                            [{if $oDetailsProduct->isParentNotBuyable()}]
                                                [{assign var="fPrice" value=$oDetailsProduct->getFVarMinPrice()}]
                                                [{if $oDetailsProduct->isRangePrice()}]
                                                    [{assign var="sFrom" value="PRICE_FROM"|oxmultilangassign}]
                                                [{/if}]
                                            [{/if}]
                                            <span[{if $tprice && $tprice->getBruttoPrice() > $price->getBruttoPrice()}] class="text-danger"[{/if}]>
                                                <span class="price-from">[{$sFrom}]</span>
                                                <span class="price">[{$fPrice}]</span>
                                                <span class="currency">[{$currency->sign}]</span>
                                                [{if $oView->isVatIncluded()}]
                                                    <span class="price-markup">*</span>
                                                [{/if}]
                                                <span class="hidden">
                                                    <span itemprop="price">[{$fPrice|replace:',':'.'}]</span>
                                                    <span itemprop="priceCurrency">EUR</span>
                                                </span>
                                            </span>
                                        </label>
                                    [{/if}]
                                    [{if $oDetailsProduct->loadAmountPriceInfo()}]
                                        [{include file="page/details/inc/priceinfo.tpl"}]
                                    [{/if}]
                                [{/block}]
                                [{/oxhasrights}]
                            [{/block}]
                        </div>

                        <div class="tobasket">
                            [{* pers params *}]
                            [{block name="details_productmain_persparams"}]
                                [{if $oView->isPersParam()}]
                                    <div class="persparamBox clear form-group">
                                        <label for="persistentParam"
                                               class="control-label">[{oxmultilang ident="LABEL"}]</label>
                                        <input type="text" id="persistentParam" name="persparam[details]"
                                               value="[{$oDetailsProduct->aPersistParam.text}]" size="35"
                                               class="form-control">
                                    </div>
                                [{/if}]
                            [{/block}]

                            [{block name="details_productmain_tobasket"}]
                                <div class="tobasketFunction clear">
                                    [{oxhasrights ident="TOBASKET"}]
                                    [{*$oDetailsProduct->isBnBuyable()|var_dump*}]
                                        [{if $oDetailsProduct->isBnBuyable()}]
                                            [{if !$oDetailsProduct->isNotBuyable()}]
                                                <div class="input-group">
                                                    <input id="amountToBasket" type="text" name="am" value="1" autocomplete="off"
                                                           class="form-control">
                                                    <div class="input-group-tweak">
                                                        <button id="toBasket" type="submit"
                                                                [{if !$blCanBuy}]disabled="disabled"[{/if}]
                                                                class="btn btn-lg btn-primary submitButton largeButton"><i
                                                                    class="fa fa-shopping-cart"></i> [{oxmultilang ident="TO_CART"}]
                                                        </button>
                                                    </div>
                                                </div>
                                            [{/if}]
                                            [{block name="details_productmain_stockstatus"}]
                                                [{if $oDetailsProduct->isBuyable()}]
                                                    [{include file="widget/product/bn-flag-bestand.tpl" product=$oDetailsProduct button="no"}]
                                                [{/if}]
                                            [{/block}]
                                            [{oxhasrights ident="TOBASKET"}]
                                                [{if $oDetailsProduct->isBuyable()}]
                                                    [{block name="details_productmain_deliverytime"}]
                                                        [{include file="page/details/inc/deliverytime.tpl"}]
                                                    [{/block}]
                                                [{/if}]
                                            [{/oxhasrights}]
                                            <br/>
                                            [{* article number *}]
                                            [{block name="details_productmain_artnumber"}]
                                                <span class="small text-muted">[{oxmultilang ident="ARTNUM" suffix="COLON"}] [{$oDetailsProduct->oxarticles__oxartnum->value}]</span>
                                                <span itemprop="sku" class="hidden">[{$oDetailsProduct->oxarticles__oxartnum->value}]</span>
                                            [{/block}]
                                            <hr/>
                                        [{else}]
                                            [{block name="details_productmain_stockstatus"}]
                                                [{if $oDetailsProduct->isBuyable()}]
                                                    [{include file="widget/product/bn-flag-bestand.tpl" product=$oDetailsProduct button="no"}]
                                                [{/if}]
                                            [{/block}]
                                            [{oxhasrights ident="TOBASKET"}]
                                                [{if $oDetailsProduct->isBuyable()}]
                                                    [{block name="details_productmain_deliverytime"}]
                                                        [{include file="page/details/inc/deliverytime.tpl"}]
                                                    [{/block}]
                                                [{/if}]
                                            [{/oxhasrights}]
                                            <br/>
                                            [{* article number *}]
                                            [{block name="details_productmain_artnumber"}]
                                                <span class="small text-muted">[{oxmultilang ident="ARTNUM" suffix="COLON"}] [{$oDetailsProduct->oxarticles__oxartnum->value}]</span>
                                                <span itemprop="sku" class="hidden">[{$oDetailsProduct->oxarticles__oxartnum->value}]</span>
                                            [{/block}]
                                            <hr/>
                                            [{if $oDetailsProduct->isBuyable() && $oViewConf->isModuleActive('dre_mailrestock') && $oView->showDreArticleRequest()}]
                                                [{include file="page/details/inc/notBuyable.tpl"}]
                                            [{/if}]
                                        [{/if}]
                                    [{/oxhasrights}]
                                </div>
                            [{/block}]

                            [{*block name="details_productmain_stockstatus"}]
                                [{if $oDetailsProduct->isBuyable()}]
                                    [{include file="widget/product/bn-flag-bestand.tpl" product=$oDetailsProduct button="no"}]
                                [{/if*}]
                                [{*if $oDetailsProduct->getStockStatus() == -1}]
                                    <span class="stockFlag notOnStock">
                                        <i class="fa fa-circle text-danger"></i>
                                        [{if $oDetailsProduct->oxarticles__oxnostocktext->value}]
                                            <link itemprop="availability" href="http://schema.org/OutOfStock"/>
                                            [{$oDetailsProduct->oxarticles__oxnostocktext->value}]
                                        [{elseif $oViewConf->getStockOffDefaultMessage()}]
                                            <link itemprop="availability" href="http://schema.org/OutOfStock"/>
                                            [{oxmultilang ident="MESSAGE_NOT_ON_STOCK"}]
                                        [{/if}]
                                        [{if $oDetailsProduct->getDeliveryDate()}]
                                            <link itemprop="availability" href="http://schema.org/PreOrder"/>
                                            [{oxmultilang ident="AVAILABLE_ON"}] [{$oDetailsProduct->getDeliveryDate()}]
                                        [{/if}]
                                    </span>
                                [{elseif $oDetailsProduct->getStockStatus() == 1}]
                                    <link itemprop="availability" href="http://schema.org/InStock"/>
                                    <span class="stockFlag lowStock">
                                        <i class="fa fa-circle text-warning"></i> [{oxmultilang ident="LOW_STOCK"}]
                                    </span>
                                [{elseif $oDetailsProduct->getStockStatus() == 0}]
                                    <span class="stockFlag">
                                        <link itemprop="availability" href="http://schema.org/InStock"/>
                                        <i class="fa fa-circle text-success"></i>
                                        [{if $oDetailsProduct->oxarticles__oxstocktext->value}]
                                            [{$oDetailsProduct->oxarticles__oxstocktext->value}]
                                        [{elseif $oViewConf->getStockOnDefaultMessage()}]
                                            [{oxmultilang ident="READY_FOR_SHIPPING"}]
                                        [{/if}]
                                    </span>
                                [{/if*}]
                            [{*/block*}]

                            [{block name="details_productmain_social"}]
                            [{/block}]
                            [{assign var="oSession" value=$oConfig->getSession()}]

                            [{block name="details_productmain_productlinksselector"}]
                                [{block name="details_productmain_productlinks"}]
                                    [{if $oViewConf->getShowCompareList()}]
                                        [{oxid_include_dynamic file="page/details/inc/compare_links.tpl" testid="" type="compare" aid=$oDetailsProduct->oxarticles__oxid->value anid=$oDetailsProduct->oxarticles__oxnid->value in_list=$oDetailsProduct->isOnComparisonList() page=$oView->getActPage() text_to_id="COMPARE" text_from_id="REMOVE_FROM_COMPARE_LIST"}]
                                    [{/if}]

                                    [{* Pin Merkzettel *}]
                                    [{if $oxcmp_user}]
                                        <a id="linkToNoticeList"
                                           href="[{oxgetseourl ident=$oViewConf->getSelfLink()|cat:"cl="|cat:$oViewConf->getTopActiveClassName() params="aid=`$oDetailsProduct->oxarticles__oxnid->value`&amp;anid=`$oDetailsProduct->oxarticles__oxnid->value`&amp;fnc=tonoticelist&amp;am=1"|cat:$oViewConf->getNavUrlParams()|cat:"&amp;stoken="|cat:$oSession->getSessionChallengeToken()}]"
                                           class="btn bodyGrau bodyButton"
                                           data-toggle="tooltip"
                                           data-placement="bottom"
                                           title="[{oxmultilang ident="ADD_TO_WISH_LIST"}]">
                                            <i class="fal fa-thumbtack fa-2x"></i>
                                        </a>
                                    [{else}]
                                        <a id="loginToNotice"
                                           href="[{oxgetseourl ident=$oViewConf->getSelfLink()|cat:"cl=account" params="anid=`$oDetailsProduct->oxarticles__oxnid->value`"|cat:"&amp;sourcecl="|cat:$oViewConf->getTopActiveClassName()|cat:$oViewConf->getNavUrlParams()}]"
                                           class="btn bodyGrau bodyButton"
                                           data-toggle="tooltip"
                                           data-placement="bottom"
                                           title="[{oxmultilang ident="ADD_TO_WISH_LIST"}]">
                                            <i class="fal fa-thumbtack fa-2x"></i>
                                        </a>
                                    [{/if}]

                                    [{* Merkzettel Pin *}]
                                    [{if $oViewConf->getShowListmania()}]
                                        [{if $oxcmp_user}]
                                            <a id="recommList"
                                               href="[{oxgetseourl ident=$oViewConf->getSelfLink()|cat:"cl=recommadd" params="aid=`$oDetailsProduct->oxarticles__oxnid->value`&amp;anid=`$oDetailsProduct->oxarticles__oxnid->value`"|cat:$oViewConf->getNavUrlParams()|cat:"&amp;stoken="|cat:$oSession->getSessionChallengeToken()}]"
                                               class="btn bodyGrau bodyButton"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               title="[{oxmultilang ident="ADD_TO_LISTMANIA_LIST"}]">
                                                <i class="fal fa-thumbtack fa-2x"></i>
                                            </a>
                                        [{else}]
                                            <a id="loginToRecommlist"
                                               href="[{oxgetseourl ident=$oViewConf->getSelfLink()|cat:"cl=account" params="anid=`$oDetailsProduct->oxarticles__oxnid->value`"|cat:"&amp;sourcecl="|cat:$oViewConf->getTopActiveClassName()|cat:$oViewConf->getNavUrlParams()}]"
                                               class="btn bodyGrau bodyButton"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               title="[{oxmultilang ident="ADD_TO_LISTMANIA_LIST"}]">
                                                <i class="fal fa-thumbtack fa-2x"></i>
                                            </a>
                                        [{/if}]
                                    [{/if}]

                                    [{* Herz Wunschliste *}]
                                    [{if $oViewConf->getShowWishlist()}]
                                        [{if $oxcmp_user}]
                                            <a id="linkToWishList"
                                               href="[{oxgetseourl ident=$oViewConf->getSelfLink()|cat:"cl="|cat:$oViewConf->getTopActiveClassName() params="aid=`$oDetailsProduct->oxarticles__oxnid->value`&anid=`$oDetailsProduct->oxarticles__oxnid->value`&amp;fnc=towishlist&amp;am=1"|cat:$oViewConf->getNavUrlParams()|cat:"&amp;stoken="|cat:$oSession->getSessionChallengeToken()}]"
                                               class="btn bodyGrau bodyButton"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               title="[{oxmultilang ident="ADD_TO_GIFT_REGISTRY"}]">
                                                <i class="fal fa-heart fa-2x"></i>
                                            </a>
                                        [{else}]
                                            <a id="loginToWish"
                                               href="[{oxgetseourl ident=$oViewConf->getSelfLink()|cat:"cl=account" params="anid=`$oDetailsProduct->oxarticles__oxnid->value`"|cat:"&amp;sourcecl="|cat:$oViewConf->getTopActiveClassName()|cat:$oViewConf->getNavUrlParams()}]"
                                               class="btn bodyGrau bodyButton"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               title="[{oxmultilang ident="ADD_TO_GIFT_REGISTRY"}]">
                                                <i class="fal fa-heart fa-2x"></i>
                                            </a>
                                        [{/if}]
                                    [{/if}]

                                    [{* Empfehlen *}]
                                    <div class="btn-group">
                                        <a id="suggest"
                                           href="[{oxgetseourl ident=$oViewConf->getSelfLink()|cat:"cl=suggest" params="anid=`$oDetailsProduct->oxarticles__oxnid->value`"|cat:$oViewConf->getNavUrlParams()}]"
                                           class="btn bodyGrau bodyButton"
                                           data-toggle="tooltip"
                                           data-placement="bottom"
                                           title="[{oxmultilang ident="RECOMMEND"}]">
                                            <i class="fal fa-hand-point-right fa-2x"></i>
                                        </a>
                                    </div>
                                    [{* Fragen zum Artikel Fragezeichen *}]
                                    <a href="mailto:[{$oxcmp_shop->oxshops__oxinfoemail->value}]?subject=[{oxmultilang ident='QUESTIONS_ABOUT_THIS_PRODUCT'}]&nbsp;[{$oDetailsProduct->oxarticles__oxartnum->value}]&amp;body=[{oxmultilang ident='QUESTIONS_ABOUT_THIS_PRODUCT' suffix="COLON"}]&nbsp;[{$oDetailsProduct->oxarticles__oxartnum->value}]"
                                       class="btn bodyGrau bodyButton"
                                       data-toggle="tooltip"
                                       data-placement="bottom"
                                       title="[{oxmultilang ident="QUESTIONS_ABOUT_THIS_PRODUCT"}]">
                                        <i class="fal fa-question-circle fa-2x"></i>
                                    </a>
                                    <div class="btn-group">
                                        <a id="shariff-button"
                                           class="btn bodyGrau bodyButton"
                                           data-toggle="tooltip"
                                           data-placement="bottom"
                                           title="sharing"
                                            onclick="$('.shariff').toggle();"
                                            >
                                            <i class="fal fa-share-alt fa-2x"></i>
                                        </a>
                                    </div>
                                [{/block}]
                            [{/block}]
                        </div>
                    </div>
                </div>
            </div>
        </div>

        [{* }]
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 details-col-right">
            [{if $oManufacturer}]
                <div class="brandLogo">
                    [{block name="details_productmain_manufacturersicon"}]
                        <a href="[{$oManufacturer->getLink()}]" title="[{$oManufacturer->oxmanufacturers__oxtitle->value}]">
                            [{if $oManufacturer->oxmanufacturers__oxicon->value}]
                                <img src="[{$oManufacturer->getIconUrl()}]" alt="[{$oManufacturer->oxmanufacturers__oxtitle->value}]">
                            [{/if}]
                        </a>
                        <span itemprop="brand" class="hidden">[{$oManufacturer->oxmanufacturers__oxtitle->value}]</span>
                    [{/block}]
                </div>
            [{/if}]

            [{assign var="oSession" value=$oConfig->getSession()}]

            [{block name="details_productmain_productlinksselector"}]
                [{block name="details_productmain_productlinks"}]
                    <ul class="list-unstyled action-links">
                        <li>
                            [{if $oViewConf->getShowCompareList()}]
                                [{oxid_include_dynamic file="page/details/inc/compare_links.tpl" testid="" type="compare" aid=$oDetailsProduct->oxarticles__oxid->value anid=$oDetailsProduct->oxarticles__oxnid->value in_list=$oDetailsProduct->isOnComparisonList() page=$oView->getActPage() text_to_id="COMPARE" text_from_id="REMOVE_FROM_COMPARE_LIST"}]
                            [{/if}]
                        </li>
                        <li>
                            <a id="suggest" href="[{oxgetseourl ident=$oViewConf->getSelfLink()|cat:"cl=suggest" params="anid=`$oDetailsProduct->oxarticles__oxnid->value`"|cat:$oViewConf->getNavUrlParams()}]">[{oxmultilang ident="RECOMMEND"}]</a>
                        </li>
                        <li>
                            [{if $oViewConf->getShowListmania()}]
                                [{if $oxcmp_user}]
                                    <a id="recommList" href="[{oxgetseourl ident=$oViewConf->getSelfLink()|cat:"cl=recommadd" params="aid=`$oDetailsProduct->oxarticles__oxnid->value`&amp;anid=`$oDetailsProduct->oxarticles__oxnid->value`"|cat:$oViewConf->getNavUrlParams()|cat:"&amp;stoken="|cat:$oSession->getSessionChallengeToken()}]">[{oxmultilang ident="ADD_TO_LISTMANIA_LIST"}]</a>
                                [{else}]
                                    <a id="loginToRecommlist" href="[{oxgetseourl ident=$oViewConf->getSelfLink()|cat:"cl=account" params="anid=`$oDetailsProduct->oxarticles__oxnid->value`"|cat:"&amp;sourcecl="|cat:$oViewConf->getTopActiveClassName()|cat:$oViewConf->getNavUrlParams()}]">[{oxmultilang ident="ADD_TO_LISTMANIA_LIST"}]</a>
                                [{/if}]
                            [{/if}]
                        </li>
                        <li>
                            [{if $oxcmp_user}]
                                <a id="linkToNoticeList" href="[{oxgetseourl ident=$oViewConf->getSelfLink()|cat:"cl="|cat:$oViewConf->getTopActiveClassName() params="aid=`$oDetailsProduct->oxarticles__oxnid->value`&amp;anid=`$oDetailsProduct->oxarticles__oxnid->value`&amp;fnc=tonoticelist&amp;am=1"|cat:$oViewConf->getNavUrlParams()|cat:"&amp;stoken="|cat:$oSession->getSessionChallengeToken()}]">[{oxmultilang ident="ADD_TO_WISH_LIST"}]</a>
                            [{else}]
                                <a id="loginToNotice" href="[{oxgetseourl ident=$oViewConf->getSelfLink()|cat:"cl=account" params="anid=`$oDetailsProduct->oxarticles__oxnid->value`"|cat:"&amp;sourcecl="|cat:$oViewConf->getTopActiveClassName()|cat:$oViewConf->getNavUrlParams()}]">[{oxmultilang ident="ADD_TO_WISH_LIST"}]</a>
                            [{/if}]
                        </li>
                        <li>
                            [{if $oViewConf->getShowWishlist()}]
                                [{if $oxcmp_user}]
                                    <a id="linkToWishList" href="[{oxgetseourl ident=$oViewConf->getSelfLink()|cat:"cl="|cat:$oViewConf->getTopActiveClassName() params="aid=`$oDetailsProduct->oxarticles__oxnid->value`&anid=`$oDetailsProduct->oxarticles__oxnid->value`&amp;fnc=towishlist&amp;am=1"|cat:$oViewConf->getNavUrlParams()|cat:"&amp;stoken="|cat:$oSession->getSessionChallengeToken()}]">[{oxmultilang ident="ADD_TO_GIFT_REGISTRY"}]</a>
                                [{else}]
                                    <a id="loginToWish" href="[{oxgetseourl ident=$oViewConf->getSelfLink()|cat:"cl=account" params="anid=`$oDetailsProduct->oxarticles__oxnid->value`"|cat:"&amp;sourcecl="|cat:$oViewConf->getTopActiveClassName()|cat:$oViewConf->getNavUrlParams()}]">[{oxmultilang ident="ADD_TO_GIFT_REGISTRY"}]</a>
                                [{/if}]
                            [{/if}]
                        </li>
                        <li>
                            [{mailto extra='id="questionMail"' address=$oDetailsProduct->oxarticles__oxquestionemail->value|default:$oxcmp_shop->oxshops__oxinfoemail->value subject='QUESTIONS_ABOUT_THIS_PRODUCT'|oxmultilangassign|cat:" "|cat:$oDetailsProduct->oxarticles__oxartnum->value text='QUESTIONS_ABOUT_THIS_PRODUCT'|oxmultilangassign}]
                        </li>
                    </ul>
                [{/block}]
            [{/block}]
        </div>
        [{*}]
    </div>
</div>

[{oxhasrights ident="TOBASKET"}]
    </form>
[{/oxhasrights}]
