[{assign var="blFirstTab" value=true}]

[{block name="details_tabs_longdescription"}]
    [{oxhasrights ident="SHOWLONGDESCRIPTION"}]
        [{assign var="oLongdesc" value=$oDetailsProduct->getLongDescription()}]
        [{if $oLongdesc->value}]
            [{capture append="tabs"}]<a href="#description" data-toggle="tab">[{oxmultilang ident="DESCRIPTION"}]</a>[{/capture}]
            [{capture append="tabsContent"}]
                <div id="description" class="tab-pane[{if $blFirstTab}] active[{/if}]" itemprop="description">
                    [{oxeval var=$oLongdesc}]
                    [{if $oDetailsProduct->oxarticles__oxexturl->value}]
                        <a id="productExturl" class="js-external" href="https://[{$oDetailsProduct->oxarticles__oxexturl->value}]">
                        [{if $oDetailsProduct->oxarticles__oxurldesc->value}]
                            [{$oDetailsProduct->oxarticles__oxurldesc->value}]
                        [{else}]
                            [{$oDetailsProduct->oxarticles__oxexturl->value}]
                        [{/if}]
                        </a>
                    [{/if}]
                </div>
            [{/capture}]
            [{assign var="blFirstTab" value=false}]
        [{/if}]
    [{/oxhasrights}]
[{/block}]

[{block name="details_tabs_attributes"}]
    [{if $oView->getAttributes()}]
        [{capture append="tabs"}]<a href="#attributes" data-toggle="tab">[{oxmultilang ident="SPECIFICATION"}]</a>[{/capture}]
        [{capture append="tabsContent"}]
            <div id="attributes" class="tab-pane[{if $blFirstTab}] active[{/if}]">[{include file="page/details/inc/attributes.tpl"}]</div>
            [{assign var="blFirstTab" value=false}]
        [{/capture}]
    [{/if}]
[{/block}]

[{block name="details_tabs_pricealarm"}]
    [{*if $oView->isPriceAlarm() && !$oDetailsProduct->isParentNotBuyable()}]
        [{capture append="tabs"}]<a href="#pricealarm" data-toggle="tab">[{oxmultilang ident="PRICE_ALERT"}]</a>[{/capture}]
        [{capture append="tabsContent"}]
            <div id="pricealarm" class="tab-pane[{if $blFirstTab}] active[{/if}]">[{include file="form/pricealarm.tpl"}]</div>
            [{assign var="blFirstTab" value=false}]
        [{/capture}]
    [{/if*}]
[{/block}]

[{block name="details_tabs_tags"}]
[{/block}]

[{block name="details_tabs_media"}]
    [{if $oView->getMediaFiles() || $oDetailsProduct->oxarticles__oxfile->value}]
        [{capture append="tabs"}]<a href="#media" data-toggle="tab">[{oxmultilang ident="MEDIA"}]</a>[{/capture}]
        [{capture append="tabsContent"}]
            <div id="media" class="tab-pane[{if $blFirstTab}] active[{/if}]">[{include file="page/details/inc/media.tpl"}]</div>
            [{assign var="blFirstTab" value=false}]
        [{/capture}]
    [{/if}]
[{/block}]

[{block name="details_tabs_comments"}]
[{/block}]

[{block name="details_tabs_invite"}]
[{/block}]

[{block name="details_tabs_main"}]
    [{if $tabs}]
        <div class="tabbedWidgetBox clear">
            <ul id="itemTabs" class="nav nav-tabs">
                [{*foreach from=$tabs item="tab" name="tabs"}]
                    <li[{if $smarty.foreach.tabs.first}] class="active"[{/if}]>[{$tab}]</li>
                [{/foreach*}]
                [{block name="details_tabs_social_navigation"}][{/block}]
            </ul>

            <div class="tab-content">
                [{foreach from=$tabsContent item="tabContent" name="tabsContent"}]
                    [{$tabContent}]
                [{/foreach}]
                [{block name="details_tabs_social_content"}][{/block}]
            </div>
        </div>


        [{* Cd Player *}]

                [{* Playerbox *}]

                [{assign var="isplayable" value=$oDetailsProduct->oxarticles__isplayable->value}]
                [{assign var="playlist" value=$oDetailsProduct->oxarticles__oxartnum->value|cat:"playlist.xml"}]
                [{assign var="playlistlocation" value=$oViewConf->getBaseDir()|cat:"media/mp3/playlists/"|cat:$playlist}]
                [{assign var="playerlocation" value=$oViewConf->getBaseDir()|cat:"out/bodynova/src/js/musicplayer/plugin/jquery-jplayer/"}]
                [{assign var="artist" value=$oDetailsProduct->oxarticles__oxtitle->value}]
                [{assign var="description" value=$oDetailsProduct->oxarticles__oxshortdesc->value}]
                [{assign var="picture" value=$oView->getActPicture()}]
                [{if $isplayable == 1}]
                    <div class="spacer"></div>
                    <div class="tabbedWidgetBox clear">
                        <ul id="itemTabs" class="nav nav-tabs">

                        </ul>
                        <div class="tab-content">
                        [{*oxstyle include="js/musicplayer/plugin/css/style.css"}]
                        [{oxstyle include="js/musicplayer/plugin/css/demo.css"*}]
                        [{oxscript include="js/musicplayer/plugin/jquery-jplayer/jquery.jplayer.js"}]
                        [{oxscript include="js/musicplayer/plugin/ttw-music-player-min.js"}]
                        [{oxscript include="js/musicplayer/plugin/player.js"}]
                            <div id="playerbox" class="detailsParams listRefine bottomRound">
                                [{oxscript add="
                                    $(document).ready(function(){
                                        generatePlayList('$playlistlocation','$description','$artist','$picture','$playerlocation');
                                    });
                                "}]

                            </div>
                        </div>

                    </div>
                [{/if}]

    [{/if}]
[{/block}]

