<div style="width: 30px; height:30px">
	<figure>
		<svg viewBox="0 0 30 30" width="100%" height="100%">
			<title>Shopping Cart</title>
			<use xlink:href="#bn-cart"/>
		</svg>
	</figure>
</div>




[{*

<object type="image/svg+xml"
        width="30" height="30"
        data="#bn-cart">
</object>

*}]