
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark special-color-dark">

	<!-- Navbar brand -->
	<a class="navbar-brand text-uppercase" href="#">Navbar</a>

	<!-- Collapse button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1"
	        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

	<!-- Collapsible content -->
	<div class="collapse navbar-collapse" id="navbarSupportedContent1">

		<!-- Links -->
		<ul class="navbar-nav mr-auto">

			<li class="nav-item dropdown mega-dropdown active">
				<a class="nav-link dropdown-toggle text-uppercase no-caret" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Features</a>
				<div class="dropdown-menu mega-menu v-2 row z-depth-1 special-color" aria-labelledby="navbarDropdownMenuLink1">
					<div class="row mx-md-4 mx-1">
						<div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-5 mb-4">
							<h6 class="sub-title text-uppercase font-weight-bold white-text">Featured</h6>
							<ul class="caret-style pl-0">
								<li class=""><a class="menu-item mb-0" href="">Lorem ipsum dolor sit amet</a></li>
								<li class=""><a class="menu-item" href="">Consectetur adipiscing elit</a></li>
								<li class=""><a class="menu-item" href="">Sed do eiusmod tempor incididunt</a></li>
								<li class=""><a class="menu-item" href="">Ut labore et dolore magna</a></li>
								<li class=""><a class="menu-item" href="">Ut enim ad minim veniam</a></li>
							</ul>
						</div>
						<div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-md-5 mt-4 mb-4">
							<h6 class="sub-title text-uppercase font-weight-bold white-text">Related</h6>
							<ul class="caret-style pl-0">
								<li class=""><a class="menu-item" href="">Quis nostrud exercitation</a></li>
								<li class=""><a class="menu-item" href="">Duis aute irure dolor in</a></li>
								<li class=""><a class="menu-item" href="">Laboris nisi ut aliquip ex ea commodo consequat</a></li>
								<li class=""><a class="menu-item" href="">Reprehenderit in voluptate</a></li>
								<li class=""><a class="menu-item" href="">Esse cillum dolore eu fugiat nulla pariatur</a></li>
							</ul>
						</div>
						<div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-4 mb-4">
							<h6 class="sub-title text-uppercase font-weight-bold white-text">Design</h6>
							<ul class="caret-style pl-0">
								<li class=""><a class="menu-item" href="">Excepteur sint occaecat</a></li>
								<li class=""><a class="menu-item" href="">Sunt in culpa qui officia</a></li>
								<li class=""><a class="menu-item" href="">Sed ut perspiciatis unde omnis iste natus error</a></li>
								<li class=""><a class="menu-item" href="">Mollit anim id est laborum</a></li>
								<li class=""><a class="menu-item" href="">Accusantium doloremque laudantium</a></li>
							</ul>
						</div>
						<div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-4 mb-5">
							<h6 class="sub-title text-uppercase font-weight-bold white-text">Programming</h6>
							<ul class="caret-style pl-0">
								<li class=""><a class="menu-item" href="">Totam rem aperiam eaque</a></li>
								<li class=""><a class="menu-item" href="">Beatae vitae dicta sun</a></li>
								<li class=""><a class="menu-item" href="">Quae ab illo inventore veritatis et quasi architecto</a></li>
								<li class=""><a class="menu-item" href="">Nemo enim ipsam voluptatem</a></li>
								<li class=""><a class="menu-item" href="">Neque porro quisquam est</a></li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="nav-item dropdown mega-dropdown">
				<a class="nav-link dropdown-toggle text-uppercase no-caret" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Technology</a>
				<div class="dropdown-menu mega-menu v-2 row z-depth-1 special-color" aria-labelledby="navbarDropdownMenuLink1">
					<div class="row mx-md-4 mx-1">
						<div class="col-md-12 col-lg-4 sub-menu my-lg-5 mt-5 mb-4">
							<h6 class="sub-title text-uppercase font-weight-bold white-text">Featured</h6>
							<!--Featured image-->
							<div class="view overlay hm-white-slight mb-3 z-depth-1">
								<img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(37).jpg" class="img-fluid" alt="First sample image">
								<div class="mask flex-center">
									<p></p>
								</div>
							</div>
							<h4 class="mb-2"><a class="news-title-2 pl-0" href="">Lorem ipsum dolor sit</a></h4>
							<p class="font-small text-uppercase white-text"><i class="fa fa-clock-o pr-2" aria-hidden="true"></i>July 17, 2017 / <i class="fa fa-comments-o px-1" aria-hidden="true"></i> 20</p>
						</div>
						<div class="col-md-6 col-lg-4 sub-menu my-lg-5 my-4">
							<h6 class="sub-title text-uppercase font-weight-bold white-text">Related</h6>
							<ul class="caret-style pl-0">
								<li class=""><a class="menu-item" href="">Quis nostrud exercitation</a></li>
								<li class=""><a class="menu-item" href="">Duis aute irure dolor in</a></li>
								<li class=""><a class="menu-item" href="">Laboris nisi ut aliquip ex ea commodo consequat</a></li>
								<li class=""><a class="menu-item" href="">Reprehenderit in voluptate</a></li>
								<li class=""><a class="menu-item" href="">Esse cillum dolore eu fugiat nulla pariatur</a></li>
							</ul>
						</div>
						<div class="col-md-6 col-lg-4 sub-menu my-lg-5 my-4">
							<h6 class="sub-title text-uppercase font-weight-bold white-text">Design</h6>
							<ul class="caret-style pl-0">
								<li class=""><a class="menu-item" href="">Excepteur sint occaecat</a></li>
								<li class=""><a class="menu-item" href="">Sunt in culpa qui officia</a></li>
								<li class=""><a class="menu-item" href="">Sed ut perspiciatis unde omnis iste natus error</a></li>
								<li class=""><a class="menu-item" href="">Mollit anim id est laborum</a></li>
								<li class=""><a class="menu-item" href="">Accusantium doloremque laudantium</a></li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="nav-item dropdown mega-dropdown">
				<a class="nav-link dropdown-toggle text-uppercase no-caret" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lifestyle</a>
				<div class="dropdown-menu mega-menu v-2 row z-depth-1 special-color" aria-labelledby="navbarDropdownMenuLink1">
					<div class="row mx-md-4 mx-1">
						<div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-5 mb-4">
							<h6 class="sub-title text-uppercase font-weight-bold white-text">Featured</h6>
							<ul class="caret-style pl-0">
								<li class=""><a class="menu-item mb-0" href="">Lorem ipsum dolor sit amet</a></li>
								<li class=""><a class="menu-item" href="">Consectetur adipiscing elit</a></li>
								<li class=""><a class="menu-item" href="">Sed do eiusmod tempor incididunt</a></li>
								<li class=""><a class="menu-item" href="">Ut labore et dolore magna</a></li>
								<li class=""><a class="menu-item" href="">Ut enim ad minim veniam</a></li>
							</ul>
						</div>
						<div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-md-5 mt-4 mb-4">
							<h6 class="sub-title text-uppercase font-weight-bold white-text">Related</h6>
							<!--Featured image-->
							<div class="view overlay hm-white-slight mb-3 z-depth-1">
								<img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(43).jpg" class="img-fluid" alt="First sample image">
								<div class="mask flex-center">
									<p></p>
								</div>
							</div>
							<h4 class="mb-2"><a class="news-title-2 pl-0" href="">Lorem ipsum dolor sit</a></h4>
							<p class="font-small text-uppercase white-text"><i class="fa fa-clock-o pr-2" aria-hidden="true"></i>July 17, 2017 / <i class="fa fa-comments-o px-1" aria-hidden="true"></i> 20</p>
						</div>
						<div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-4 mb-4">
							<h6 class="sub-title text-uppercase font-weight-bold white-text">Design</h6>
							<!--Featured image-->
							<div class="view overlay hm-white-slight mb-3 z-depth-1">
								<img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(44).jpg" class="img-fluid" alt="First sample image">
								<div class="mask flex-center">
									<p></p>
								</div>
							</div>
							<h4 class="mb-2"><a class="news-title-2 pl-0" href="">Ut labore et dolore magna</a></h4>
							<p class="font-small text-uppercase white-text"><i class="fa fa-clock-o pr-2" aria-hidden="true"></i>July 16, 2017 / <i class="fa fa-comments-o px-1" aria-hidden="true"></i> 25</p>
						</div>
						<div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-4 mb-5">
							<h6 class="sub-title text-uppercase font-weight-bold white-text">Programming</h6>
							<ul class="caret-style pl-0">
								<li class=""><a class="menu-item" href="">Totam rem aperiam eaque</a></li>
								<li class=""><a class="menu-item" href="">Beatae vitae dicta sun</a></li>
								<li class=""><a class="menu-item" href="">Quae ab illo inventore veritatis et quasi architecto</a></li>
								<li class=""><a class="menu-item" href="">Nemo enim ipsam voluptatem</a></li>
								<li class=""><a class="menu-item" href="">Neque porro quisquam est</a></li>
							</ul>
						</div>
					</div>
				</div>
			</li>

		</ul>
		<!-- Links -->

		<!-- Search form -->
		<form class="form-inline">
			<div class="md-form mt-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
			</div>
		</form>
	</div>
	<!-- Collapsible content -->

</nav>
<!--/.Navbar-->
