/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2013 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      FontSite Inc.
 * License URL: http://www.fontspring.com/fflicense/fontsite
 *
 *
 */

@font-face {
    font-family: 'function_proXBdOb';
    src: url('FunctionPro-ExtraBoldOblique-webfont.eot');
    src: url('FunctionPro-ExtraBoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('FunctionPro-ExtraBoldOblique-webfont.woff') format('woff'),
         url('FunctionPro-ExtraBoldOblique-webfont.ttf') format('truetype'),
         url('FunctionPro-ExtraBoldOblique-webfont.svg#function_proXBdOb') format('svg');
    font-weight: normal;
    font-style: normal;

}

