<div class="text-center">
    <a id="adminBanner" href="[{$oViewConf->getBaseDir()}]admin/">
        <img src="[{$oViewConf->getImageUrl('admin-banner.jpg')}]">
    </a>
</div>
<div class="spacer"></div>